---
const {
  event,
  billede,
  billedebeskrivelse,
  afholder,
  class: extraClass,
} = Astro.props;
---

<article class={`card ${extraClass ?? ""}`}>
  <div class="card_img_box">
    <img src={billede} alt={billedebeskrivelse} />
    <div class="img_backgroud"></div>
  </div>
  <div class="card_text_box">
    <h4>{event.title}</h4>
    <p>{event.desc}</p>
    <div class="card_info">
      <h5>{afholder}</h5>
      <h5>{event.date}</h5>
    </div>
  </div>
</article>
