---
const {
  titel,
  beskrivelse,
  billede,
  billedebeskrivelse,
  dato,
  afholder,
  class: extraClass,
} = Astro.props;

const { event } = Astro.props;
console.log("card event:", event);
---

<article class={`card ${extraClass ?? ""}`}>
  <!-- card start -->
  <div class="card_img_box">
    <img src={billede} alt={billedebeskrivelse} />
    <div class="img_backgroud"></div>
  </div>
  <div class="flexcol card_text_box">
    <h4>{event.title}</h4>
    <p>{event.desc}</p>
    <div class="flex card_info">
      <h5>{afholder}</h5>
      <h5>{event.date}</h5>
    </div>
  </div>
  <!-- card end -->
</article>
